<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySearch Engine</title>
    <style>
        body{
            background-color: black;
        }

        h1{
            color: white;
        }

        #Main{
            text-align: center;
        }

        input{
            border-radius: 100px;
            border:3px solid white;
            color: white;
            background-color: black;
        }
    </style>
</head>
<body>
    <div id="Main">
        <h1>Ash SearchEngine</h1>
        <form method="POST">
            <input type="text" name="Text" placeholder="Search"/>
            <input type="submit" value="Search"/>
        </form>
    </div>
</body>
</html>
